@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
body{
    padding: 0;
    margin: 0;
    background-color: rgb(215, 86, 86);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.page-tittle{
    text-align:  center;
}
.main-forms-page{
    width: 40%;
    height: auto;
    columns: 1;
    margin: auto;
    margin-top: 5rem;
    border: solid black .1rem;
    border-radius: 5px;
    background-color: whitesmoke;
    & > form{
        display: flex;
        margin: auto;
        width: 60%;
        flex-direction: column;
        & > input{
            margin-bottom: 1.5rem;
            border: solid .1rem darkgray;
            border-radius: .5rem;
        }
    }
}

#userDataNascimento:hover{
    color: red;
}
